{% extends "store/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section m-5">
          <div class="media">
            <div class="media-body">
              <h1 class="account-heading" style="text-align:center;">Please select a shipping address {{ user.first_name }}</h1>
            </div>
          </div>
            <div class="uk-card uk-card-default uk-card-body uk-card-hover" style="border-radius:1em;border-style:solid;border-color:#f8f8f8;margin:1em 35% 0em 35%;">
                <a class="uk-link-reset" href="{% url 'store:store-address' %}"><span class="uk-button uk-button-default uk-width-1-1"><span class="uk-margin-xsmall-right" uk-icon="icon: plus; ratio: .75;"></span>Add Address</span></a>
            </div>
        <div class="uk-grid-match uk-text-center" uk-grid>

        {% for address in customer_address_ %}
            <div class="uk-card uk-card-default uk-card-body uk-card-hover w-25" style="border-radius:1em;border-style:solid;border-color:#f8f8f8;margin:2em;">
                <h3 class="uk-card-title">Deliver to {{ user.first_name }}</h3>
               <a class="uk-link-reset" href="{% url 'store:store-payment-stripe' address.id %}">
                    <p class="uk-margin-remove uk-text-large">{{ address.billing_street_address|truncatechars:20}}</p>
                    <p class="uk-margin-remove uk-text-large">{{ address.billing_street_address_line_2|truncatechars:10 }}</p>
                    <p class="uk-margin-remove uk-text-large">{{ address.billing_city }}</p>
                    <p class="uk-margin-remove uk-text-large">{{ address.billing_postal_code }}</p>
                    <p class="uk-text-large">{{ address.billing_phone_number }}</p>
                </a>
            </div>
         <br>
        {% endfor %}
        </div>

</div>
{% endblock content %}