{% extends "store/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}

<main>
    <section class="uk-section uk-section-small">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <div class="content-section" style="margin:5%;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <h1 style="text-align:center;">
                   {% if title %}
                         {{title}}
                   {% else %}
                        Products
                   {% endif %}
                </h1>
                <hr>
                <br>

                    {{form| crispy}}
                    {{location_form.media}}
                    {{location_form.as_p}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    {% if submit %}
                         {{submit}}
                    {% else %}
                        Submit
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
        </section>
      </main>

<script>
window.onload=function(){

$(document).on("google_point_map_widget:marker_create", function (e, lat, lng, locationInputElem, mapWrapID) {
    console.log(locationInputElem);
    console.log(lat, lng);
    console.log(mapWrapID);
});

$(document).on("google_point_map_widget:marker_change", function (e, lat, lng, locationInputElem, mapWrapID) {
    console.log(locationInputElem);
    console.log(lat, lng);
    console.log(mapWrapID);
});

$(document).on("google_point_map_widget:marker_delete", function (e, lat, lng, locationInputElem, mapWrapID) {
    console.log(locationInputElem);
    console.log(lat, lng);
    console.log(mapWrapID);
})

}


</script>

{% endblock content %}