{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}

  {% block content %}
      <main>
        <section class="uk-section uk-section-small">
          <div class="uk-container">
            <div class="uk-grid-medium" uk-grid>
              <div class="uk-width-1-1 uk-width-1-4@m tm-aside-column">
                <div class="uk-card uk-card-default uk-card-small tm-ignore-container" uk-sticky="offset: 90; bottom: true; media: @m;">
                  <div class="uk-card-header">
                    <div class="uk-grid-small uk-child-width-1-1" uk-grid>
                      <section>
                        <div class="uk-width-1-3 uk-width-1-4@s uk-width-1-2@m uk-margin-auto uk-visible-toggle uk-position-relative uk-border-circle uk-overflow-hidden uk-light"><img class="uk-width-1-1" src="{{ user.image.url }}"><a class="uk-link-reset uk-overlay-primary uk-position-cover uk-hidden-hover" href="#">
                            <div class="uk-position-center"><span uk-icon="icon: camera; ratio: 1.25;"></span>
                            </div></a></div>
                      </section>
                      <div class="uk-text-center">
                        <div class="uk-h4 uk-margin-remove">{{ user }}</div>
                        <div class="uk-text-meta">{{ user.date_joined }}</div>
                      </div>
                      <div>
                        <div class="uk-grid-small uk-flex-center" uk-grid>
                          <div><a class="uk-button uk-button-default uk-button-small" href="settings.html"><span class="uk-margin-xsmall-right" uk-icon="icon: cog; ratio: .75;"></span><span>Settings</span></a></div>
                          <div>
                            <button class="uk-button uk-button-default uk-button-small" href="#" title="Log out"><span uk-icon="icon: sign-out; ratio: .75;"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <nav>
                      <ul class="uk-nav uk-nav-default tm-nav">
                        <li><a href="{% url 'users-order' %}">Orders
                            
                            <span>(2)</span></a></li>
                        <li><a href="{% url 'store:store-favorites' %}">Favorites
                            
                            <span>(3)</span></a></li>
                        <li class="uk-active"><a href="{% url 'users-account' data %}">Personal Info</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="uk-width-1-1 uk-width-expand@m">
                <div class="uk-card uk-card-default uk-card-small tm-ignore-container">

                <br>
                  <div class="uk-width-1-1 tm-product-description" id="description">
                      <header>
                        <nav class="tm-product-nav" uk-sticky="offset: 60; bottom: #description; cls-active: tm-product-nav-fixed;">
                          <ul class="uk-subnav uk-subnav-pill js-product-switcher" uk-switcher="connect: .js-tabs">
                            <li><a class="js-scroll-to-description" href="#description">Personal Info</a></li>
                            <li><a class="js-scroll-to-description" href="#description">Address</a></li>
                          </ul>
                        </nav>
                      </header>

                      <div class="uk-card-body">
                        <div class="uk-switcher js-product-switcher js-tabs">
                          <section>
                               <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                  <fieldset class="form-group">
                                      <legend class="border-bottom mb-4">Personal Info</legend>
                                      {{ user_form|crispy }}
                                      {{ form|crispy }}
                                      {{ address_form|crispy }}
                                  </fieldset>
                                  <div class="form-group">
                                      <button class="btn btn-outline-info" type="submit">Update</button>
                                      <small class="text-muted">
                                        <a class="ml-2" href="{% url 'password_change' %}">Change Password?</a>
                                        </small>
                                  </div>
                                </form>
                          </section>
                            {% if data == 'customer' %}
                              <section>
                                <h1 class="uk-card-title" style="text-align:center;">Please select a shipping address {{ user.first_name }}</h1>
                                    <div class="uk-card uk-card-default uk-card-body uk-card-hover" style="border-radius:1em;border-style:solid;border-color:#f8f8f8;margin:1em 18em 0em 18em;">
                                        <a class="uk-link-reset" href="{% url 'store:store-address' %}"><span class="uk-button uk-button-default uk-width-1-1"><span class="uk-margin-xsmall-right" uk-icon="icon: plus; ratio: .75;"></span>Add Address</span></a>
                                    </div>
                                <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid style="margin-left:2em;">

                                {% for address in customer_address %}
                                    <div class="uk-card uk-card-default uk-card-body uk-card-hover" style="border-radius:1em;border-style:solid;border-color:#f8f8f8;margin:2em;">
                                        <h3 class="uk-card-title">Deliver to {{ user.first_name }}</h3>
                                            <p class="uk-margin-remove" style="font-size:18px;">{{ address.shipping_street_address|truncatechars:15}}</p>
                                            <p class="uk-margin-remove" style="font-size:18px;">{{ address.shipping_street_address_line_2|truncatechars:10 }}</p>
                                            <p class="uk-margin-remove" style="font-size:18px;">{{ address.shipping_city }}</p>
                                            <p class="uk-margin-remove" style="font-size:18px;">{{ address.shipping_postal_code }}</p>
                                            <p style="font-size:18px;">{{ address.billing_phone_number }}</p>
                                        <div class="uk-card" >
                                            <a class="uk-link-reset" href="{% url 'store:store-address-update' address.id %}"><span class="uk-button uk-button-default "><span class="uk-margin-xsmall-right" uk-icon="icon: plus; ratio: .75;"></span>Update Address</span></a>
                                        </div>
                                    </div>
                                {% endfor %}

                                </div>

                          </section>
                            {% elif data == 'vendor' %}
                                <section>
                                <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <fieldset class="form-group">
                                            <h1 style="text-align:center;">
                                               {% if title %}
                                                     {{title}}
                                               {% else %}
                                                    Products
                                               {% endif %}
                                            </h1>
                                            <hr>
                                            <br>

                                            {{vendor_address_form| crispy}}
                                            {{location_form.media}}
                                            {{location_form.as_p}}
                                        </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-outline-info" type="submit">
                                            {% if submit %}
                                                 {{submit}}
                                            {% else %}
                                                Submit
                                            {% endif %}
                                        </button>
                                    </div>
                                </form>
                        </section>
                                <script>
window.onload=function(){

$(document).on("google_point_map_widget:marker_create", function (e, lat, lng, locationInputElem, mapWrapID) {
    console.log(locationInputElem);
    console.log(lat, lng);
    console.log(mapWrapID);
});

$(document).on("google_point_map_widget:marker_change", function (e, lat, lng, locationInputElem, mapWrapID) {
    console.log(locationInputElem);
    console.log(lat, lng);
    console.log(mapWrapID);
});

$(document).on("google_point_map_widget:marker_delete", function (e, lat, lng, locationInputElem, mapWrapID) {
    console.log(locationInputElem);
    console.log(lat, lng);
    console.log(mapWrapID);
})

}


</script>
                            {% else %}
                                <h1>EROoRR.....!!!!!!!!</h1>
                            {% endif %}
                        </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </section>
      </main>
{% endblock content %}